.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 0px 30px 30px 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn{
  font-size: 32px;
  font-family: 'Indie Flower', cursive;
  
  
  padding: 10px 80px;
  border-radius: 5px;
  background-color: #4ecca3;
}

.btn {
  font-size: 32px;
  font-family: 'Indie Flower', cursive;
  display: block;
  padding: 10px 80px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #4ecca3;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px #3da885;
  transition: all 0.1s ease-in-out;
}

.btn:active {
  transform: translateY(4px);
  box-shadow: 0 2px #3da885;
}


.para{
  font-size: 52px;
  margin: 0px;
}
